.container {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid blue;
    display: grid;
    cursor: pointer;
    place-items: center;
}
.circle {
    $size: 63px;
    width: $size;
    height: $size;
    border-radius: 100%;
    border: 1px solid purple;
    margin: auto;
}
.game-coin {
    width: 76px;
}