* {
    box-sizing: border-box;
}
#root {
    display: grid;
}
* {
    font-family: sans-serif;
}
body {
    all: unset;
}
.row {
    display: flex;
}
.board {
    display: flex;
    flex-direction: column;    
    zoom: 0.8;
    place-items: center;
}
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(73 73 73 / 70%);
    top: 0;
    left: 0;
    z-index: 2;
}
.turn-display {
    justify-self: center;
    font-size: 24px;
    font-family:sans-serif;
}